#p{
text-align: center;
font-size: 100px;
    width: 120px;
  background-color: coral;
  color: white;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {width: 500px;}
}

}

#form  {
  font-size: 200%;
  width: 200px;
}
input[type=text]:focus {
  border: 3px solid #555;
}
input[type=text] {
 background-color: #3CBC8D;
  color: white;
}
 
 input[type=submit] {
background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#body{background-color: #4CAF50;
}